// colors
$color-1: #328ea8;
$color-2: #47ecad;
$color-3: #2fa18a;
$color-4: #87369e;

$color-grey-light: #efefef;
$color-grey-dark: #333333;
$color-hover: #edf5f8;
$color-link-hover:#cccccc;
$color-paragraph: #4a4a4a;
$color-green: #34eb49;
$color-white: #ffffff;
$color-black: #000000;


$default-font-size:1.6rem;

$grid-width: 114rem;
$gutter-vertical:4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;
